body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF
  text-decoration none
ul
  padding 0px;
  margin 0px;
li
  margin 0px
  padding 5px
  display inline-block
  border 1px solid #2B2922
  background-color #eeeeee

table, td, th
  border: 1px solid black
  text-align :center


table
  border-collapse: collapse
  width: 100%


