doctype html
html(lang="en")
  head
    title Say Hello
    link(rel='stylesheet', href='styles/styles.css')
  body
      div#HelloContainer SAY Hello
      button(type="button" onclick="displayHello()") Click Me
      div#countainer
    script(src='scripts/scripts.js')